@import 'assets/scss/button';
@import 'assets/scss/variable';

.sku {
  .MuiOutlinedInput-input.MuiOutlinedInput-inputAdornedStart {
    padding: 14px 0px;
  }
}
.sku-empty-container {
  height: 52vh;
  align-items: center;
  position: relative;
  text-align: center;

  .MuiTypography-subtitle2 {
    color: #636363;
  }

  .btn--emerald {
    margin-top: 2%;
  }
}

.sku-empty-container img {
  padding-bottom: 2%;
  display: block;
  margin: auto auto;
  margin-top: 15%;
}

.drawer + main {
  .sku {
    .search_form {
      width: 360px;
    }
    @media (min-width: 1400px) {
      .search_form {
        width: 300px;
      }
    }
    @media (min-width: 1500px) {
      .search_form {
        width: 360px;
      }
    }
    @media (min-width: 1900px) {
      .search_form {
        width: 600px;
      }
    }
  }
}

.drawer:not(.drawer--collapsed) + main {
  .sku {
    .search_form {
      width: 360px;
    }
    @media (min-width: 1400px) {
      .search_form {
        width: 300px;
      }
    }
    @media (min-width: 1500px) {
      .search_form {
        width: 330px;
      }
    }
    @media (min-width: 1900px) {
      .search_form {
        width: 600px;
      }
    }
  }
}