@import 'assets/scss/variable';

.delivery-notice-overview {
  .paper__heading.MuiTypography-root {
    margin-bottom: 10px !important;
  }
  .MuiListItem-root {
    color: #828282;
  }
  .MuiSvgIcon-root {
    margin-right: 24px;
  }
  .MuiListItemText-secondary {
    color: #474646;
  }
  .MuiListItemText-root span {
    font-size: 0.9rem !important;
  }
  .MuiTypography-body2 {
    color: $gray;
    font-size: 0.85rem
  }
  .MuiListItem-root {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mt-1 {
    margin-top: 10px;
  }
  .mt-2 {
    margin-top: 20px;
  }
  .mt-3 {
    margin-top: 30px;
  }
  .paper__heading.content-heading {
    font-weight: bold;
    font-size: 0.9rem;
  }
  .doc-img {
    margin-right: 15px;;
  }
  .document-preview .MuiTypography-subtitle2 {
    color: $gray;
    padding: 15px;
  }
}

