.dropzone {
  &.MuiDropzoneArea-root {
    min-height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__icon.MuiSvgIcon-root {
    display: none;
  }
  &__text.MuiTypography-h5 {
    font-size: 14px;
    font-weight: 400;
  }
  &__img.MuiGrid-zeroMinWidth {
    width: auto;
    height: auto;
  }
}

.MuiDropzonePreviewList-root.MuiGrid-spacing-xs-8 {
  margin: 0;
  width: 100%;
  .MuiDropzonePreviewList-imageContainer.MuiGrid-item {
    padding: 0% 0.8%;
    overflow: hidden;
    .MuiDropzonePreviewList-removeButton {
      opacity: 1;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      svg path {
        d: path('M18.3,5.71 C17.91,5.32 17.28,5.32 16.89,5.71 L12,10.59 L7.11,5.7 C6.72,5.31 6.09,5.31 5.7,5.7 C5.31,6.09 5.31,6.72 5.7,7.11 L10.59,12 L5.7,16.89 C5.31,17.28 5.31,17.91 5.7,18.3 C6.09,18.69 6.72,18.69 7.11,18.3 L12,13.41 L16.89,18.3 C17.28,18.69 17.91,18.69 18.3,18.3 C18.69,17.91 18.69,17.28 18.3,16.89 L13.41,12 L18.3,7.11 C18.68,6.73 18.68,6.09 18.3,5.71 Z') !important;
      }
      svg.MuiSvgIcon-root {
        font-size: 1.5rem;
      }
    }
  }
}

.MuiDropzoneArea-root.dropzone {
  margin-bottom: 5vh;
}

.MuiDropzonePreviewList-root img:hover {
  opacity: 0.7;
}

.documents__dropzone {
  .MuiGrid-root.MuiDropzonePreviewList-imageContainer.MuiGrid-item.MuiGrid-grid-xs-4 {
    max-width: 60%;
    flex-basis: 60%;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 1%;
    .doc-img {
      height: 50px !important;
      width: 40px !important;
      margin-right: 15px !important;
    }

    .MuiDropzonePreviewList-removeButton {
      width: 35px;
      height: 20px;
      opacity: 1;
      color: white;
      @media (min-width: 1600px) {
        left: 55% !important;
      }
      svg.MuiSvgIcon-root {
        font-size: 1rem;
      }
    }
  }
  .MuiFab-root {
    box-shadow: 0px 0px 0px 0px !important;
  }
  span.MuiTypography-root {
    color: #828282 !important;
    font-size: 0.8rem;
  }
}





.drawer:not(.drawer--collapsed) + main {
  .MuiDropzonePreviewList-root img {
    object-fit: cover;
    width: 100%;
    height: 17vh;
    border-radius: 5px;
    margin-top: 0%;
  }
  .MuiDropzonePreviewList-removeButton {
    top: 10px;
    right: 20px;
  }
}

.drawer + main {
  .MuiDropzonePreviewList-root img {
    object-fit: cover;
    width: 100%;
    height: 21vh;
    border-radius: 5px;
    margin-top: 1%;
    
  }
  .MuiDropzonePreviewList-removeButton {
    top: 10px;
    right: 20px;
  }
}