@import 'assets/scss/button';
@import 'assets/scss/variable';

.hidden_csv {
  display: none;
}

.dashboard {
  .circle {
    background-color: #F80;
    border: 3px solid #FFF !important;
    border-radius: 18px;
    box-shadow: 0 0 2px #888;
  }
  .DateRangePicker {
    margin-right: 15px;
  }
  .DateInput_input {
    font-size: 1rem;
    text-align: center;
  }
  .MuiPaper-elevation1 {
    padding: 15px 20px;
  }

  .delivery-notice {
    padding-right: 0px !important;
    padding-left: 5px !important;
  
    .hover-button .hover-button--on {
      display: none;
    }

    .hover-button:hover .hover-button--on {
      display: inline;
    }

    .MuiGrid-container {
      margin-top: 12px;
      margin-left: 0px;
      .inbound {
        padding-left: 0px;
        padding-right: 8px;
      }
      .outbound {
        padding-left: 8px;
        padding-right: 0px;
      }
    }

    
    .transaction-type {
      display: flex;
      align-items: center;
      
      .MuiSvgIcon-fontSizeSmall {
        margin-left: 5px;
        color: $gray;
        cursor: pointer;
      }
    }

    

    .MuiTableContainer-root {
      margin-top: 26px;
      padding: 0px;
      .status-chip {
        min-width: 80px;
        justify-content: left;
      }
      .MuiTableCell-root {
        padding: 10px;
      }
    }
  }

  .MuiTypography-body2 {
    padding-top: 4px;
    color: $gray;
  }

  .analytics {
    padding-top: 12px;

    .warehouse-type {
      padding-left: 0px;

      .MuiPaper-root {
        min-height: 400px !important;
      }

      .MuiSvgIcon-root {
        color: $gray !important;
        margin-left: 20px;
        font-size: 25px;
        cursor: pointer;
      }
    }

    .inventory {
      .MuiPaper-root {
        min-height: 400px !important;
      }
    }

    .MuiGrid-root {
      padding-right: 5px;
    }
  }

  .analytics.MuiGrid-spacing-xs-3 {
    margin: 0px;

    .total-items-received {
      padding-left: 0;
    }
  }

  .apexcharts-legend-marker {
    border-radius: 7px;
  }

  .search_form {
    max-width: 300px;
  }

  .chart {
    padding: 15px 5px;
    p {
      padding: 0px 20px 5px 20px;
    }
  }
}