@import 'assets/scss/button';
@import 'assets/scss/variable';

.client-form {
  .MuiOutlinedInput-input {
    padding: 14px;
  }
  .MuiButton-label {
    text-transform: none;
  }
  .MuiGrid-container.MuiGrid-spacing-xs-2 {
    margin-bottom: 2%;
  }
  .dropzone-margin {
    margin-bottom: 100px;
  }
  .search__spinner {
    width: 14px !important;
    height: 14px !important;
    float: right;
    margin-right: 35px;
    padding: 0px;
  }
  .member-btn {
    padding: 10px 15px 10px 15px;
    color: $emerald;
    text-transform: none;
    border: 1px solid #CECECE;
    border-radius: 4px !important;
  }
  .member-btn:hover {
    border-color: $emerald;
  }
  .member-field {
    .MuiOutlinedInput-input {
      background-color: #DFDFDF;
      border-radius: 4px !important;
    }
    .MuiOutlinedInput-notchedOutline {
      border: 1px solid #fff;
    }
    .Mui-disabled {
      .MuiOutlinedInput-notchedOutline {
        border: 1px solid #fff;
      }
    }
  }

  .MuiSelect-select {
    .MuiChip-root {
      width: 90%;
    }
  }
  .select-status {
    .MuiSelect-root {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}