@import 'assets/scss/variable';
.delete_button {
  @media (min-width: 1600px) {
    margin-top: -5vh !important;
  }
  .MuiTypography-root {
    color: #E74C3C !important
  }
  margin-top: -6vh !important;
} 

.warehouse_edit {
  @media (min-width: 1600px) {
    margin-bottom: 67vh !important;
  }
  margin-bottom: 58vh !important;
}

.sidebar {
  .MuiTypography-root {
    color: #828282;
  }
  .active .MuiTypography-root {
    color: $emerald;
  }
}