@import 'assets/scss/variable';

.sku-search-items .MuiInputBase-formControl {
  width: 90%;
  margin-top: 5%;
}

.sku-search-items {
  text-align: center;
  align-items: center;

}

.items-popover {
  z-index: 999;

  .MuiOutlinedInput-input {
    padding: 14px 11px;
    font-size: 0.875rem;
  }
  .MuiPaper-root {
    max-height: auto;
    overflow: auto;
    min-width: 400px;
    margin-right: 40px;
  }
  .MuiListItem-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  hr {
    margin: 0px 0px;
  }
  button.btn {
    margin: 15px 25px;
    padding: 6px 8px;
    float: right;
  }
  .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: white;
  }
  #menu-list-grow {
    min-height: 150px;
    max-height: 300px;
    overflow: auto;
  }
  .MuiCheckbox-colorSecondary.Mui-checked {
    color: $emerald;
  }
}

.delivery-notice-receiving-container {
  .search__spinner {
    margin-left: -50px;
  }
  .MuiTablePagination-selectLabel {
    margin-top: 15px;
  }

  .MuiTablePagination-displayedRows  {
    margin-top: 15px;
  }
  .search_form {
    width: 200%;
    @media (min-width: 1900px) {
      width: 400% !important;
    }
    
    @media (min-width: 1500px) {
      width: 225% !important;
    }
    
    @media (max-width: 1499px) {
      width: 205% !important;
    }
    
    @media (max-width: 1425px) {
      width: 190% !important;
    }
    
    @media (max-width: 1335px) {
      width: 170% !important;
    }
    
    @media (max-width: 1280px) {
      width: 150% !important;
    }
    @media (max-width: 1225px) {
      width: 120% !important;
    }
  }
  .btn.btn-csv {
    margin-left: 10px;
  }
  .MuiIconButton-root {
    padding: 10px;
  }
  .no-results-row.MuiTableCell-root.MuiTableCell-body {
    padding: 25px;
  }
  .MuiTableCell-root {
    max-width: 400px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.MuiTableCell-head {
      padding: 16px 9px;
    }
    .MuiIconButton-colorPrimary {
      color: $emerald;
    }
    .MuiIconButton-colorSecondary {
      color: $red;
    }
  }
}

.receiving-releasing-table {
  &:hover {
    cursor: auto;
  }
  .notes {
    min-width: 100px !important;
  }
  .uom {
    min-width: 100px;
  }
  .product-name {
    min-width: 200px;
  }
  .external-code {
    min-width: 180px;
  }
}

.receiving-releasing-table-addmode {
  .MuiOutlinedInput-root {
    min-width: 130px;
  }

  .MuiOutlinedInput-input {
    padding: 12px 12px;
    font-size: 0.92rem;
  }
  
  .MuiTableCell-root {
    padding: 14px 6px;
  }
}