@import 'assets/scss/variable';

.sku-search-items .MuiInputBase-formControl {
  width: 90%;
  margin-top: 5%;
}

.sku-search-items {
  text-align: center;
  align-items: center;

}

.items-popover {
  z-index: 999;

  .MuiOutlinedInput-input {
    padding: 14px 11px;
    font-size: 0.875rem;
  }
  .MuiPaper-root {
    max-height: auto;
    overflow: auto;
    min-width: 400px;
    margin-right: 40px;
  }
  .MuiListItem-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  hr {
    margin: 0px 0px;
  }
  button.btn {
    margin: 15px 25px;
    padding: 6px 8px;
    float: right;
  }
  .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: white;
  }
  #menu-list-grow {
    min-height: 150px;
    max-height: 300px;
    overflow: auto;
  }
  .MuiCheckbox-colorSecondary.Mui-checked {
    color: $emerald;
  }
}


.delivery-notice-container {
  .MuiCheckbox-root {
    padding: 8px 6px !important;

    &.MuiButtonBase-root {
      color: '';
    }
  }
  .btn.btn-csv {
    margin-left: 10px;
  }
  .MuiIconButton-root {
    padding: 10px;
  }
  .no-results-row.MuiTableCell-root.MuiTableCell-body {
    padding: 25px;
  }
  .MuiTableCell-root {
    max-width: 400px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.MuiTableCell-head {
      padding: 16px 9px;
    }
    .MuiIconButton-colorPrimary {
      color: $emerald;
    }
    .MuiIconButton-colorSecondary {
      color: $red;
    }
  }
}

.sku-table {
  &:hover {
    cursor: auto;
  }
  
  .MuiTableCell-body {
    padding: 10px 9px
  }
  .MuiOutlinedInput-input {
    padding: 13px 11px;
    font-size: 0.85rem;
  }
  .notes {
    min-width: 100px !important;
  }
  .uom {
    min-width: 100px;
  }
  .product-name {
    min-width: 200px;
  }
  .external-code {
    min-width: 180px;
  }
}



.drawer:not(.drawer--collapsed) + main {
  .dn-sku {
    .search_form {
      width: 360px;
    }
    @media (min-width: 1400px) {
      .search_form {
        width: 300px;
      }
    }
    @media (min-width: 1500px) {
      .search_form {
        width: 330px;
      }
    }
    @media (min-width: 1900px) {
      .search_form {
        width: 600px;
      }
    }
  }
}

.drawer + main {
  .dn-sku {
    @media (min-width: 800px) {
      .search_form {
        width: 400px;
      }
    }
    @media (min-width: 1000px) {
      .search_form {
        width: 450px;
      }
    }
    @media (min-width: 1200px) {
      .search_form {
        width: 600px;
      }
    }
  }
}