@import 'assets/scss/button';
@import 'assets/scss/variable';

.sku {
  .MuiOutlinedInput-input.MuiOutlinedInput-inputAdornedStart {
    padding: 14px 0px;
  }
  .MuiTableBody-root .MuiTableCell-root {
    padding: 12px;
  }
}
.sku-empty-container {
  height: 52vh;
  align-items: center;
  position: relative;
  text-align: center;

  .MuiTypography-subtitle2 {
    color: #636363;
  }

  .btn--emerald {
    margin-top: 2%;
  }
}

.sku-empty-container img {
  padding-bottom: 2%;
  display: block;
  margin: auto auto;
  margin-top: 15%;
}

.drawer + main {
  .sku {
    .search_form {
      width: 360px;
    }
    @media (min-width: 1400px) {
      .search_form {
        width: 300px;
      }
    }
    @media (min-width: 1500px) {
      .search_form {
        width: 360px;
      }
    }
    @media (min-width: 1900px) {
      .search_form {
        width: 600px;
      }
    }
  }
}

.drawer:not(.drawer--collapsed) + main {
  .sku {
    @media (min-width: 1200px) {
      .search_form {
        width: 370px;
      }
    }
    @media (min-width: 1300px) {
      .search_form {
        width: 490px;
      }
    }
    @media (min-width: 1400px) {
      .search_form {
        width: 500px;
      }
    }
    @media (min-width: 1500px) {
      .search_form {
        width: 600px;
      }
    }
  }
}

// select .MuiTablePagination-menuItem {
//   color: red !important;
//   // background-color: blue !important;
//   border-radius: 25px !important;
// }

// .MuiTablePagination-select {
// // background-color: blue !important;
//   // border-radius: 25px !important;
// }

// .MuiMenuItem-root.Mui-selected {
//   border-radius: 25px !important;
// }

// .MuiSelect-select {
//   // border-radius: 25px !important;
// }