@import 'assets/scss/button';
@import 'assets/scss/variable';

.sku {
  .radio-btn-group.MuiGrid-grid-md-4 button {
    width: 125px;
    padding: 11px 10px !important;
    word-wrap: unset;
  }
  .MuiButton-label {
    text-transform: none;
  }
  .MuiGrid-container.MuiGrid-spacing-xs-2 {
    margin-bottom: 2%;
  }
}

.edit-sku {
  .MuiOutlinedInput-input {
    padding: 14px !important;
  }
}