@import 'assets/scss/button';
@import 'assets/scss/variable';

.facilities__amenities {
  .MuiButton-root {
    text-transform: none;
    font-weight: normal;
  }
  .MuiButtonGroup-grouped {
    @media (min-width: 1000px) {
      min-width: 15%;
    }
    @media (min-width: 1200px) {
      font-size: 0.75rem;
      min-width: 30%;
    }
    @media (min-width: 1400px) {
      font-size: 0.8rem;
      min-width: 57%;
    }
    @media (min-width: 1500px) {
      font-size: 0.85rem;
      min-width: 60%;
    }
    @media (min-width: 1800px) {
      font-size: 0.9rem;
      min-width: 70%;
    }
    @media (min-width: 2000px) {
      font-size: 0.9rem;
      min-width: 80%;
    }
  }
}