@import 'assets/scss/button';
@import 'assets/scss/variable';

.table {
  &__row {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

}

.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
  margin-top: 15px !important;
}

.table-img-preview {
  object-fit: cover;
  height: 40px;
  width: 50px;
}

.MuiTableCell-head {
  &.MuiTableCell-head {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.MuiTableRow-root {
  max-height: 60px;
}

.status-chip {
  height: 26px !important;
  border-radius: 3px !important;
  &.emerald {
    color: $emerald !important;
    background-color: #D8EFEA !important;
  }
  &.tangerine {
    color: $tangerine;
    background-color: #F7F2E2;
  }
}

.search_form {
  .menu-list {
    position: absolute;
    background-color: 'white';
    width: 100%;
    box-shadow: 0px 7px 12px #888888;
    background-color: white;
  }
  .menu-list.hidden {
    display: none;
  }
  .search__spinner {
    min-width: 50px;
    min-height: 50px;
    padding: 16px;
  }
}

.drawer:not(.drawer--collapsed) + main {
  @media (min-width: 1200px) {
    .search_form {
      width: 370px;
    }
  }
  @media (min-width: 1300px) {
    .search_form {
      width: 490px;
    }
  }
  @media (min-width: 1400px) {
    .search_form {
      width: 500px;
    }
  }
  @media (min-width: 1500px) {
    .search_form {
      width: 600px;
    }
  }
}

.drawer + main {
  @media (min-width: 800px) {
    .search_form {
      width: 400px;
    }
  }
  @media (min-width: 1000px) {
    .search_form {
      width: 450px;
    }
  }
  @media (min-width: 1200px) {
    .search_form {
      width: 600px;
    }
  }
}

.MuiTablePagination-menuItem {
  border-radius: 1px !important;
}

.MuiTablePagination-select {
  border-radius: 1px !important;
}

.MuiTablePagination-displayedRows {
  margin-right: 10px;
}