.audit-log-container {
  .DateInput {
    max-width: 105px;
  }

  .DateInput_input {
    font-size: 1rem;
  }

  button.btn.btn--emerald {
    padding: 11px 16px;
  }

  .MuiOutlinedInput-input {
    padding: 14px 14px;
  }

  .MuiCard-root {
    margin-bottom: 1.5%;
    border: 1px solid #E0E0E0;
  }

  @media (min-width: 1500px) {
    .search_form {
      width: 100% !important;
    }
  }

  // @media (min-width: 1200px) {
  //   .drawer + main .DateInput {
  //     max-width: 155px !important;
  //   }
  // }
}

// @media (min-width: 1400px) {
// @media (min-width: 1400px) {
  // .drawer + main .audit-log-container .DateInput {
  //   max-width: 100% !important;
  // }
  // .drawer:not(.drawer--collapsed) + main .audit-log-container .DateInput {
  //   max-width: 105px !important;
  // }
// }